<div class="container">
  <div class="row justify-content-center">
    <% @posts.each do |post| %>
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post %></h5>
            <p class="card-text"><%= post.description %></p>
            <p class="card-text"><small class="text-muted"> <%= t('post.posted_by') %> <%= post.user.email %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= paginate @posts %>