<%= link_to 'All Posts', posts_path %>

<% if user_signed_in? %>
  <%= link_to 'My Posts', posts_path(scope: 'my_posts') %>
<% end %>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p>Posted by <%= post.user.email %></p>
  </div>
<% end %>

<%= paginate @posts %>
