<h1><%= @post.title %></h1>
<p>Posted by <%= @post.user.email %></p>


<% @post.images.each do |image| %>
  <%= image_tag(image) %>
<% end %>

<p><%= @post.description %></p>

<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<% if user_signed_in? && @post.user == current_user %>
  <%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', posts_path %>